.cache
.config/Joplin
.config/dconf
.config/enchant
.config/evolution/sources
.config/gcloud
.config/gh
.config/google-chrome
.config/gtk-3.0
.config/ibus/bus
.config/joplin-desktop
.config/lazygit
.config/lutris
.config/menus/applications-merged
.config/nautilus
.config/pulse
.config/.gsd-keyboard.settings-ported
.config/GNOME-xdg-terminals.list
.config/gnome-initial-setup-done
.config/mimeapps.list
.config/ubuntu-xdg-terminals.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.fontconfig
.gnome/apps
.gnupg
.joplin
.local/share/applications/appimagekit-joplin.desktop
.local/share/applications/chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default.desktop
.local/share/applications/mimeapps.list
.local/share/applications/mimeinfo.cache
.local/share/evolution
.local/share/flatpak
.local/share/gnome-control-center-goa-helper
.local/share/gnome-initial-setup-goa-helper
.local/share/gnome-settings-daemon
.local/share/gnome-shell
.local/share/gvfs-metadata
.local/share/icc
.local/share/icons
.local/share/keyrings
.local/share/lutris
.local/share/nautilus
.local/share/org.gnome.TextEditor
.local/share/xorg
.local/share/recently-used.xbel
.local/share/session_migration-ubuntu
.local/state
.oh-my-zsh
.pki/nssdb
.ssh
Documents
Downloads
Pictures
dev
snap
.bash_history
.bash_logout
.bashrc
.boto
.lesshst
.netrc
.nvidia-settings-rc
.profile
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump
.zcompdump-savaka-5.9
.zcompdump-savaka-5.9.zwc
.zsh_history
.kube
.minikube
.cargo
.rustup
.cpan
.cpanm
.local/share/gem/specs
.npm
perl5
.local/share/gnome-software
Desktop
Games/battlenet
.config/inkscape
.config/obs-studio
.var/app/org.gimp.GIMP
.codeium
.config/Code
.config/htop
.config/neofetch
.dotnet/corefx/cryptography/crls
.local/share/nvim
.vim
.vscode
.wakatime
go/pkg
.wakatime.bdb
.wakatime.cfg
go/bin
.pearrc
.android
.config/Google/AndroidStudio2022.2
.config/flutter
.dart-tool
.java
.local/share/Google/consentOptions
.pub-cache
Android/Sdk
.flutter
.m2/repository
.config/cef_user_data/Dictionaries
.local/share/Steam
.local/share/applications/Dota 2.desktop
.local/share/applications/Steam Linux Runtime.desktop
.local/share/containers/podman-desktop/configuration
.local/share/vulkan/implicit_layer.d
.redhat
.steam
.var/app/io.podman_desktop.PodmanDesktop
.steampath
.steampid
.local/share/applications/Grim Dawn.desktop
.local/share/applications/Proton Experimental.desktop
.local/share/applications/Steam Linux Runtime - Sniper.desktop
.local/share/applications/Steam Linux Runtime - Soldier.desktop
.config/nvim/lazy-lock.json
.dotnet
.local/share/NuGet
.nuget/NuGet
.config/libreoffice/4/user
.config/blender/3.5/config
.local/share/grilo-plugins
.config/totem
.config/coolercontrol
.config/gnome-control-center/backgrounds
.local/share/backgrounds
.local/share/applications/net.lutris.battlenet-1.desktop
.python_history
