[init]
	defaultBranch = main
[core]
	editor = vim
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = vim -d $MERGED $LOCAL $BASE $REMOTE -c '$wincmd w' -c 'wincmd J'
	trustExitCode = false
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[alias]
    dft = difftool
    dlog = "-c diff.external=difft log -p --ext-diff"
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[http]
	postBuffer = 524288000
