.cache
.config/Joplin
.config/dconf
.config/enchant
.config/evolution/sources
.config/gcloud
.config/gh
.config/google-chrome
.config/gtk-3.0
.config/ibus/bus
.config/joplin-desktop
.config/lazygit
.config/lutris
.config/menus/applications-merged
.config/nautilus
.config/pulse
.config/.gsd-keyboard.settings-ported
.config/GNOME-xdg-terminals.list
.config/gnome-initial-setup-done
.config/mimeapps.list
.config/ubuntu-xdg-terminals.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.fontconfig
.gnome/apps
.gnupg
.joplin
.local/share/applications/appimagekit-joplin.desktop
.local/share/applications/chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default.desktop
.local/share/applications/mimeapps.list
.local/share/applications/mimeinfo.cache
.local/share/evolution
.local/share/flatpak
.local/share/gnome-control-center-goa-helper
.local/share/gnome-initial-setup-goa-helper
.local/share/gnome-settings-daemon
.local/share/gnome-shell
.local/share/gvfs-metadata
.local/share/icc
.local/share/icons
.local/share/keyrings
.local/share/lutris
.local/share/nautilus
.local/share/org.gnome.TextEditor
.local/share/xorg
.local/share/recently-used.xbel
.local/share/session_migration-ubuntu
.local/state
.oh-my-zsh
.pki/nssdb
.ssh
Documents
Downloads
Pictures
dev
snap
.bash_history
.bash_logout
.bashrc
.boto
.lesshst
.netrc
.nvidia-settings-rc
.profile
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump
.zcompdump-savaka-5.9
.zcompdump-savaka-5.9.zwc
.zsh_history
.kube
.minikube
.cargo
.rustup
.cpan
.cpanm
.local/share/gem/specs
.npm
perl5
.local/share/gnome-software
Desktop
Games/battlenet
.config/inkscape
.config/obs-studio
.var/app/org.gimp.GIMP
.codeium
.config/Code
.config/htop
.config/neofetch
.dotnet/corefx/cryptography/crls
.local/share/nvim
.vim
.vscode
.wakatime
go/pkg
.wakatime.bdb
.wakatime.cfg
go/bin
.pearrc
.android
.config/Google/AndroidStudio2022.2
.config/flutter
.dart-tool
.java
.local/share/Google/consentOptions
.pub-cache
Android/Sdk
.flutter
.m2/repository
.config/cef_user_data/Dictionaries
.local/share/Steam
.local/share/applications/Dota 2.desktop
.local/share/applications/Steam Linux Runtime.desktop
.local/share/containers/podman-desktop/configuration
.local/share/vulkan/implicit_layer.d
.redhat
.steam
.var/app/io.podman_desktop.PodmanDesktop
.steampath
.steampid
.local/share/applications/Grim Dawn.desktop
.local/share/applications/Proton Experimental.desktop
.local/share/applications/Steam Linux Runtime - Sniper.desktop
.local/share/applications/Steam Linux Runtime - Soldier.desktop
.config/nvim/lazy-lock.json
.dotnet
.local/share/NuGet
.nuget/NuGet
.config/libreoffice/4/user
.config/blender/3.5/config
.local/share/grilo-plugins
.config/totem
.config/coolercontrol
.config/gnome-control-center/backgrounds
.local/share/backgrounds
.local/share/applications/net.lutris.battlenet-1.desktop
.python_history
Videos
.motd_shown
.zcompdump-savaka-5.8.1
.zcompdump-savaka-5.8.1.zwc
temp
.local/share/gsettings-data-convert
.Xauthority
.local/share/Google/AndroidStudio2022.2/Dart/lib
.local/share/Google/AndroidStudio2022.2/IdeaVim/lib
.local/share/Google/AndroidStudio2022.2/Key-Promoter-X/lib
.local/share/Google/AndroidStudio2022.2/flutter-intellij/lib
.local/share/applications/chrome-fhihpiojkbmbpdjeoajapmgkhlnakfjf-Default.desktop
.local/share/applications/8-Bit Armies.desktop
.local/share/applications/8-Bit Hordes.desktop
.local/share/applications/8-Bit Invaders!.desktop
.local/share/applications/Against the Storm.desktop
.local/share/applications/Age of Empires Definitive Edition.desktop
.local/share/applications/Age of Empires II Definitive Edition.desktop
.local/share/applications/Age of Empires III Definitive Edition.desktop
.local/share/applications/Age of Empires IV Anniversary Edition.desktop
.local/share/applications/Age of Mythology Extended Edition.desktop
.local/share/applications/Anno 1404 - History Edition.desktop
.local/share/applications/Anno 1800.desktop
.local/share/applications/Anno 2070.desktop
.local/share/applications/Anno 2205.desktop
.local/share/applications/Aseprite.desktop
.local/share/applications/BattleBit Remastered.desktop
.local/share/applications/Bloons TD 6.desktop
.local/share/applications/Counter-Strike Global Offensive.desktop
.local/share/applications/Dyson Sphere Program.desktop
.local/share/applications/Factorio.desktop
.local/share/applications/Factory Town Idle.desktop
.local/share/applications/Farthest Frontier.desktop
.local/share/applications/Kingdoms and Castles.desktop
.local/share/applications/Metro Exodus Enhanced Edition.desktop
.local/share/applications/Monster Hunter World.desktop
.local/share/applications/Satisfactory.desktop
.local/share/applications/Settlement Survival.desktop
.local/share/applications/Super Auto Pets.desktop
.local/share/applications/Timberborn.desktop
.local/share/applications/Titan Quest Anniversary Edition.desktop
.local/share/applications/Zeus + Poseidon.desktop
.var/app/org.signal.Signal
.local/share/applications/Factory Town.desktop
.local/share/applications/Sid Meier's Civilization VI.desktop
.local/share/applications/Torchlight II.desktop
.local/share/Google/AndroidStudio2022.3
.local/share/applications/Auto Chess.desktop
.local/share/applications/Tales And Tactics.desktop
.local/share/applications/wine/Programs
.local/share/desktop-directories
.local/share/mime
Games/league-of-legends
.local/share/applications/wine-extension-chm.desktop
.local/share/applications/wine-extension-hlp.desktop
.local/share/applications/wine-extension-msp.desktop
.local/share/applications/wine-extension-vbs.desktop
.local/share/applications/net.lutris.league-of-legends-2.desktop
.opam
.nimble
.googleearth
.local/share/applications/DOOM Eternal.desktop
.local/share/applications/Metro 2033 Redux.desktop
.local/share/applications/Metro Last Light Redux.desktop
.local/share/applications/Portal Prelude RTX.desktop
.local/share/applications/Portal with RTX.desktop
.local/share/applications/Turbo Overkill.desktop
.local/share/Windscribe/Windscribe2
.var/app/com.jetbrains.IntelliJ-IDEA-Community
.wakatime-internal.cfg
.local/share/JetBrains
.m2/wrapper/dists/apache-maven-3.9.1-bin/2cpar40ui5s2pm3ja4s69ub7fa
.local/share/Anki/QtWebEngine/Default
.local/share/Anki2
anki/languages
goldendict
storage
.avidemux6
.var/app/org.avidemux.Avidemux
.local/share/applications/Steam Linux Runtime 3.0 (sniper).desktop
.local/share/applications/Creeper World 4.desktop
.local/share/applications/Zero-K.desktop
.local/share/applications/Risk of Rain 2.desktop
.local/share/applications/Cyberpunk 2077.desktop
.local/share/applications/Dying Light 2.desktop
.local/share/applications/Dying Light.desktop
.local/share/applications/Five Nations.desktop
.local/share/applications/Grounded.desktop
.local/share/applications/Halo The Master Chief Collection.desktop
.local/share/applications/Horizon Zero Dawn Complete Edition.desktop
.local/share/applications/IXION.desktop
.local/share/applications/Kerbal Space Program 2.desktop
.local/share/applications/MONSTER HUNTER RISE.desktop
.local/share/applications/Majesty Gold HD.desktop
.local/share/applications/Proton EasyAntiCheat Runtime.desktop
.var/app/org.qbittorrent.qBittorrent
.pulse-cookie
.var/app/org.audacityteam.Audacity
.local/share/applications/Counter-Strike 2.desktop
.local/share/wezterm/check_update
.var/app/org.americanmonk.TipitakaPaliReader
.local/share/applications
.var/app/org.kde.kdenlive
.var/app/org.telegram.desktop
.var/app/net.ankiweb.Anki
.var/app/md.obsidian.Obsidian
.var/app/org.freecadweb.FreeCAD
.psensor
.var/app
.lmmsrc.xml
.config/Google/AndroidStudio2023.1
.config/blender/4.0/config
.config/cef_user_data/WidevineCdm
.config/go/telemetry/local
.config/menus
.dart
.dartServer
.local/share/CMakeTools
.config/aseprite
.zcompdump-cariyaputta-5.9
.zcompdump-cariyaputta-5.9.zwc
*.mkv
