#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Wezterm
Exec=/home/linuxbrew/.linuxbrew/bin/wezterm
Icon=/home/lavantien/.config/wezterm/images/wezterm-icon.png
StartupWMClass=org.wezfurlong.wezterm
